<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Farm Smart</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
{% load staticfiles %}
<meta name="keywords" content="Agro Harvest Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
	
	<!-- css files -->
    <link href="{% static '/css/bootstrap.css' %}" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
    <link href="{% static '/css/style.css' %}" rel='stylesheet' type='text/css' /><!-- custom css -->
    <link href="{% static '/css/font-awesome.min.css' %}" rel="stylesheet"><!-- fontawesome css -->
	<!-- //css files -->
	
	<link href="{% static '/css/css_slider.css' %}" type="text/css" rel="stylesheet" media="all">

	<!-- google fonts -->
	<link href="//fonts.googleapis.com/css?family=Thasadith:400,400i,700,700i&amp;subset=latin-ext,thai,vietnamese" rel="stylesheet">
	<!-- //google fonts -->
	
</head>
<body>

<!-- header -->
<header>
	<div class="container">
		<!-- nav -->
		<nav class="py-4 d-lg-flex">
			<div id="logo">
				<h1> <a href=""><span class="fa fa-leaf"></span> Farm Smart</a></h1>
			</div>
			<label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
			<input type="checkbox" id="drop" />
			<ul class="menu mt-md-2 ml-auto">
				<li class="mr-lg-4 mr-2 active"><a href="{% url 'index' %}">Home</a></li>
				<li class="dropdown mr-lg-4 mr-2">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Services
						<span class="caret"></span></a>
						<ul class="dropdown-menu">
							{% if request.user.id %}
							<li>  <a href="{% url 'crop:add_profile' %}" class="w3-bar-item w3-button">Add Profile</a></li>
							<li><a href="{% url 'crop:prefered_crop' %}" class="w3-bar-item w3-button "> Preffered crops</a></li>
							{% endif %}
							<li><a href="{% url 'crop:crop_list' %}" class="w3-bar-item w3-button ">All crops</a></li>
							<li><a href="{% url 'crop:buyer' %}" class="w3-bar-item w3-button "> Buyers</a></li>
							<li><a href="{% url 'crop:product' %}" class="w3-bar-item w3-button "> Products</a></li>
							<li><a href="{% url 'crop:event' %}" class="w3-bar-item w3-button "> Events</a></li>
							
							
							
							
							{% if request.user.is_staff %}
							<li><a href="{% url 'crop:add_crop' %}" class="w3-bar-item w3-button "> Add crops</a></li>
							<li><a href="{% url 'crop:add_land' %}" class="w3-bar-item w3-button">Add Land</a></li>
							<!-- <li><a href="{% url 'crop:add_soiltest' %}" class="w3-bar-item w3-button ">Add Soil Test</a></li> -->
							<li><a href="{% url 'crop:add_varity' %}" class="w3-bar-item w3-button "> Add Variety</a></li>
							<li><a href="{% url 'crop:add_disease' %}" class="w3-bar-item w3-button "> Add Disease</a></li>
							<li><a href="{% url 'crop:add_solution' %}" class="w3-bar-item w3-button "> Add Solution</a></li>
							{% endif %}
							
						</ul>
					</li>
					<!-- <li class="mr-lg-4 mr-2"><a href="services.html">Services</a></li> -->
				<li class="mr-lg-4 mr-2"><a href="{% url 'crop:about' %}">About Us</a></li>
				<li class="mr-lg-4 mr-2"><a href="{% url 'crop:about' %}">Gallery</a></li>
				<li class="mr-lg-4 mr-2"><a href="contact.html">Contact</a></li>
				{% if request.user.id %}
					<li> <a href=""><span class="glyphicon glyphicon-user mr-lg-4 mr-2"></span> {{request.user.username}}</span></a></li>
					<li><a href="/accounts/logout mr-lg-4 mr-2"> Logout</a></li>


				{% else %}
					<li><a href="/accounts/signup"><span class="glyphicon glyphicon-user mr-lg-4 mr-2 "></span> Sign Up</a></li>
					<li><a href="/accounts/login"><span class="glyphicon glyphicon-log-in mr-lg-4 mr-2"></span> Login</a></li>
				{% endif %}
			
				
				
			</ul>
		</nav>
		<!-- //nav -->
	</div>
</header>
<!-- //header -->

<!-- banner -->
<section class="banner_w3lspvt" id="home">
	<div class="csslider infinity" id="slider1">
		<input type="radio" name="slides" checked="checked" id="slides_1" />
		<input type="radio" name="slides" id="slides_2" />
		<input type="radio" name="slides" id="slides_3" />
		<input type="radio" name="slides" id="slides_4" />
		<ul>
			
			<li>
				<div class="banner-top1">
					<div class="overlay1">
						<div class="container">
							<div class="w3layouts-banner-info text-center">
								<h3 class="text-wh">Farming</h3>
								<h4 class="text-wh mx-auto my-4">Cultivating new crops to make farmers increase profits</h4>
								<p class="text-li mx-auto mt-2">Farming is growing crops or keeping animals by people for food and raw materials. Farming is a part of agriculture..</p>
								<a href="about.html" class="button-style mt-sm-5 mt-4">Read More</a>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="banner-top">
					<div class="overlay">
						<div class="container">
							<div class="w3layouts-banner-info text-center">
								<h3 class="text-wh">Harvesting</h3>
								<h4 class="text-wh mx-auto my-4">Cultivating new crops to make farmers increase profits</h4>
								<p class="text-li mx-auto mt-2">Harvesting is the process of gathering a ripe crop from the fields. Reaping is the cutting of grain or pulse for harvest, typically using a scythe, sickle, or reaper. .</p>
								<a href="about.html" class="button-style mt-sm-5 mt-4">Read More</a>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="banner-top2">
					<div class="overlay">
						<div class="container">
							<div class="w3layouts-banner-info text-center">
								<h3 class="text-wh">Cultivating</h3>
								<h4 class="text-wh mx-auto my-4">Cultivating new crops to make farmers increase profits</h4>
								<p class="text-li mx-auto mt-2">The soil around existing plants is cultivated to destroy weeds and promote growth by increasing soil aeration and water infiltration.</p>
								<a href="about.html" class="button-style mt-sm-5 mt-4">Read More</a>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="banner-top3">
					<div class="overlay1">
						<div class="container">
							<div class="w3layouts-banner-info text-center">
								<h3 class="text-wh">Harvesting</h3>
								<h4 class="text-wh mx-auto my-4">Cultivating new crops to make farmers increase profits</h4>
								<p class="text-li mx-auto mt-2">Ut enim ad minim quis nostrud exerci sed do eiusmod tempor incididunt ut
									labore et dolore magna aliqua nostrud exerci sed.</p>
								<a href="about.html" class="button-style mt-sm-5 mt-4">Read More</a>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<div class="arrows">
			<label for="slides_1"></label>
			<label for="slides_2"></label>
			<label for="slides_3"></label>
			<label for="slides_4"></label>
		</div>
	</div>
</section>
<!-- //banner -->

<!-- about -->
<section class="about py-5">
	<div class="container py-md-4">
		<h3 class="heading text-center mb-4">Agriculture</h3>
		<p class="about-text mx-auto text-center">Agriculture plays a vital role in India’s economy. The principal means of livelihood is agriculture for more than 58 percent of rural households. In the below article, we will go through the different types of agricultural methods in India and its implication on Indian economy.</p>
		<div class="feature-grids row mt-5 text-center">
			<div class="col-lg-4 col-md-6 ">
				<div class="bottom-gd px-2 text-center">
					<div class="f-icon">
						<span class="fa fa-leaf" aria-hidden="true"></span>
					</div>
					<h3 class="mt-4"> Cereals</h3>
					<p class="mt-3">In India Cereals are the major crop cultivated. Cereals plays huge role in indian food and agriculture.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mt-md-0 mt-4">
				<div class="bottom-gd px-2 text-center">
					<div class="f-icon">
						<span class="fa fa-apple" aria-hidden="true"></span>
					</div>
					<h3 class="mt-4"> Fruits & Berries</h3>
					<p class="mt-3">India is the largest producer of Fruits & Berries in the world and is known as fruit basket of world. The major fruits grown in India are Mangos, Grapes, Apple, Apricots, Orange, Banana Fresh, Avocados, Guava, Lichi, Papaya, Sapota and Water Melons..</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
				<div class="bottom-gd px-2 text-center">
					<div class="f-icon">
						<span class="fa fa-pagelines" aria-hidden="true"></span>
					</div>
					<h3 class="mt-4">Vegetables</h3>
					<p class="mt-3">Vegetables were cultivated at 10.1 million hectares. India is the largest producer of ginger and okra amongst vegetables and ranks second in production of potatoes, onions, cauliflowers, brinjal, Cabbages.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //about -->

<!-- Why Choose Us -->
<section class="serives-agile py-5" id="works">
	<div class="container py-md-5">
		<h3 class="heading mb-5 text-center"> Crop Predicted By Analysing</h3>
		<div class="welcome-bottom text-center">
			<div class="welcome-grid">
				<span class="fa fa-apple"></span>
				<h4 class="my-3">Grains </h4>
				
			</div>
			<div class="welcome-grid">
				<span class="fa fa-skyatlas"></span>
				<h4 class="my-3">Seed Traits</h4>
				
			</div>

			<div class="welcome-grid mt-md-0 mt-5">
				<span class="fa fa-yelp"></span>
				<h4 class="my-3">Safety</h4>
				
			</div>
			<div class="welcome-grid mt-lg-0 mt-md-4 mt-5">
				<span class="fa fa-viadeo"></span>
				<h4 class="my-3">Cultivation</h4>
				
			</div>
			<div class="welcome-grid mt-lg-0 mt-md-4 mt-5">
				<span class="fa fa-pagelines"></span>
				<h4 class="my-3">Environment</h4>
				
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</section>
<!-- Why Choose Us -->

<!-- core values -->
<section class="core-value py-5">
	<div class="container py-md-4">
		<h3 class="heading mb-sm-5 mb-4 text-center"> Our Core Values</h3>
		<div class="row core-grids">
			<div class="col-lg-6 core-left">	
				<img src="images/core.jpg" class="img-fliud" alt="" />
			</div>
			<div class="col-lg-6 core-right">
				<h4 class="mt-4">Improving Agriculture, Improving Lives, Cultivating New Crops To Make Farmers Increase Profit.</h4>
				<!-- <p class="mt-3">Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullam corper dui turpis dolor sit amet quam.
				Nulla commodo gravida porttitor. Aenean posuere lacus quis leo imperdiet laoreet. Proin vulputate semper odio quam. Nulla commodo 
				gravida porttitor. Aenean posuere lacus quis.</p> -->
			</div>
		</div>
	</div>
</section>
<!-- //core values -->
	
<!-- text -->
<section class="background-img">
	<div class="overlay-clr py-5">
		<div class="container py-md-3">
			<div class="row core-grids">
				<div class="col-lg-4 bg-left">	
					<h4 class="">We Are Innovators in Agricultural Business. Our goal is to bring healthy organic food to every People.</h4>
				</div>
				<div class="col-lg-5 col-md-7 bg-middle mt-lg-0 mt-4">	
					<!-- <p class="">Integer sit amet mattis quam, sit amet dol ultricies velit. Praesent ullam corper duits turpis dolor sit amet quam.
					Nulla comodol gravida porttitor. Aenean posuere lacusnt quis leo imperdiet laoreet. Proin vulputat.</p>
					<p class="mt-3">Integer sit ut amet mattis quam, sit amet ultricies velit. Praesent ullam corper dui turpis dolor sit amet quam.
					Nulla sed commodo gravida porttitor.</p> -->
				</div>
				<div class="col-lg-3 col-md-5 bg-right mt-lg-0 mt-4">	
					<ul>
						<li><span class="fa fa-pagelines"></span> Crop Cultivation</li>
						<li><span class="fa fa-pagelines"></span> Farming Land</li>
						<li><span class="fa fa-pagelines"></span> Harvesting Crops</li>
						<li><span class="fa fa-pagelines"></span> Improving Agriculture</li>
						<li><span class="fa fa-pagelines"></span> Innovators in Agricultural business</li>
						<li><span class="fa fa-pagelines"></span> Agricultural Robots</li>
						<li><span class="fa fa-pagelines"></span> Grains and Oil seeds</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //text -->

<!-- Products & Services -->

<!-- //Products & Services -->

<!-- text -->
<section class="text py-5">
	<div class="container py-md-3 text-center">		
		<div class="row">
			<div class="col-12">
				<h3 class="mb-4 heading">The Best Time To <span>Plant The Tree</span> Is Now.</h3>
				<p>India's agriculture is composed of many crops, with the foremost food staples being rice and wheat. 
					Indian farmers also grow pulses, potatoes, sugarcane, oilseeds, and such non-food items as cotton, tea, coffee, rubber, 
					and jute (a glossy fiber used to make burlap and twine). India is a fisheries giant as well.
				</p>
				<a href="services.html" class="btn mr-3"> Our Services</a>
				<a href="contact.html" class="btn btn1"> Contact Us </a>
			</div>		
		</div>		
	</div>		
</section>
<!-- //text -->

<!-- footer -->
<footer class="text-center py-5">
	<div class="container py-md-3">
		<!-- logo -->
		<h2 class="logo2 text-center">
			<a href="index.html">
				<span class="fa fa-leaf"></span> Farm Smart.
			</a>
		</h2>
		<!-- //logo -->
		<!-- address -->
		<!-- <div class="contact-left-footer mt-4">
			<ul>
				<li>
					<p>
						<span class="fa fa-map-marker mr-2"></span>Agriculture Business, 2nd Block, USA
					</p>
				</li>
				<li class="mx-4">
					<p>
						<span class="fa fa-phone mr-2"></span>+12(345) 6789 111.
					</p>
				</li>
				<li>
					<p class="text-wh">
						<span class="fa fa-envelope-open mr-2"></span>
						<a href="mailto:info@example.com">Example@gmail.com</a>
					</p>
				</li>
			</ul>
		</div> -->
		<!-- //address -->
		<!-- social icons -->
		<div class="footercopy-social my-4">
			<ul>
				<li>
					<a href="#">
						<span class="fa fa-facebook-square"></span>
					</a>
				</li>
				<li class="mx-2">
					<a href="#">
						<span class="fa fa-twitter-square"></span>
					</a>
				</li>
				<li class="">
					<a href="#">
						<span class="fa fa-google-plus-square"></span>
					</a>
				</li>
				<li class="mx-2">
					<a href="#">
						<span class="fa fa-linkedin-square"></span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="fa fa-rss-square"></span>
					</a>
				</li>
				<li class="ml-2">
					<a href="#">
						<span class="fa fa-pinterest-square"></span>
					</a>
				</li>
			</ul>
		</div>
		<!-- //social icons -->
		<!-- copyright -->
		<div class="w3l-copy text-center">
			<p class="text-da">© 2019 Farm Smart. All rights reserved.
				
			</p>
		</div>
		<!-- //copyright -->
	</div>
</footer>
<!-- //footer -->

<!-- move top icon -->
<a href="#home" class="move-top text-center"></a>
<!-- //move top icon -->
	
</body>
</html>