
<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <title>FarmSmart</title>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
  
  <script src="//platform-api.sharethis.com/js/sharethis.js#property=5bcffb96e0bd050011105875&product=inline-share-buttons"></script>
  <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5bcffb96e0bd050011105875&product=custom-share-buttons"></script>
</head>
<body>

	 <nav class="navbar">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">FarmSmart</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <!-- <li class="active"><a href="/">Home</a></li> -->
	      
	    </ul>
	    <ul class="nav navbar-nav navbar-right">

            {% if request.user.id %}
                <li> <a><span class="glyphicon glyphicon-user"></span> {{request.user.username}}</span></a></li>
		        <li><a href="/accounts/logout"> Logout</a></li>


		    {% else %}
		      <li><a href="/accounts/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
		      <li><a href="/accounts/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		    {% endif %}
	    </ul>
	  </div>
	</nav>
	

	
	<div class="row">
		<div class="col-sm-2">
			<div class="w3-sidebar w3-light-grey w3-bar-block" >
				<br>
				<br>
				<a href="/" class="w3-bar-item w3-button">Home</a>
				{% if request.user.id %}
					<a href="{% url 'crop:add_profile' %}" class="w3-bar-item w3-button">Add Profile</a>
					<a href="{% url 'crop:prefered_crop' %}" class="w3-bar-item w3-button "> Preffered crops</a>
				{% endif %}
				<a href="{% url 'crop:crop_list' %}" class="w3-bar-item w3-button ">All crops</a>
				<a href="{% url 'crop:buyer' %}" class="w3-bar-item w3-button "> Buyers</a>
				<a href="{% url 'crop:product' %}" class="w3-bar-item w3-button "> Products</a>
				<a href="{% url 'crop:event' %}" class="w3-bar-item w3-button "> Events</a>

				
				
				
				{% if request.user.is_staff %}
					<a href="{% url 'crop:add_crop' %}" class="w3-bar-item w3-button "> Add crops</a>
					<a href="{% url 'crop:add_land' %}" class="w3-bar-item w3-button">Add Land</a>
					<!-- <a href="{% url 'crop:add_soiltest' %}" class="w3-bar-item w3-button ">Add Soil Test</a> -->
					<a href="{% url 'crop:add_varity' %}" class="w3-bar-item w3-button "> Add Variety</a>
					<a href="{% url 'crop:add_disease' %}" class="w3-bar-item w3-button "> Add Disease</a>
					<a href="{% url 'crop:add_solution' %}" class="w3-bar-item w3-button "> Add Solution</a>
				{% endif %}

			</div>
		
		</div>
		<div class="bodydiv col-sm-10" >

			
			<div class="message">
					{% if messages %}
					{% for message in messages %}
					{% if message.tags == "success" %}
			
					<div class="alert alert-success" id="alert">
							<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							<strong>Success!</strong> {{ message }}.
						</div>
					{% endif %}
					{% if message.tags == "error" %}
			
					<div class="alert alert-danger">
							<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							<strong>Oops!</strong> {{ message }}.
						</div>
					{% endif %}
					
				
					{%  endfor %}
				
					{% endif %}
			</div> 
		{% block banner %} {% endblock %}
		{% block head %}{% endblock %}
		{% block content %}{% endblock %}
			
		</div>
		{% block javascript %}{% endblock %}
	</div>
		
				<script>
					$("#alert").fadeTo(2000, 500).slideUp(500, function(){
							$("#alert").slideUp(500);
					});
				</script>
	


<!-- <h1>Welocme {{request.user.username}}</h1> -->


	




</body>
</html>



